mat-list-item {
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

mat-paginator {
  position: absolute;
  right: 10px;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

table {
  width: 90vw;
}

.mat-cell.table-body {
  max-width: 100px;
}

.page-title {
  text-align: center;
}
